# DISTRICT WISE POVERTY 2011

In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams
%matplotlib inline

In [3]:
df = pd.read_csv ('Datasets/District wise Poverty Indicators, 2011.csv')

In [4]:
df['Development Region'].unique()

array(['Far-Western', 'Western', 'Mid-Western', 'Central', 'Eastern'], dtype=object)

In [5]:
df[:10]

,District Name,Zone,Geographical Region,Development Region,Measure Names,Unit,Measure Values
0,Achham,Seti,Hill,Far-Western,Number of poor,69134,932.6534
1,Achham,Seti,Hill,Far-Western,Number of poor,69133,5247.3263
2,Achham,Seti,Hill,Far-Western,Number of poor,69132,1408.1394
3,Achham,Seti,Hill,Far-Western,Number of poor,69131,2903.2647
4,Achham,Seti,Hill,Far-Western,Number of poor,69124,7611.8766
5,Achham,Seti,Hill,Far-Western,Number of poor,69123,2606.7704
6,Achham,Seti,Hill,Far-Western,Number of poor,69122,1162.8708
7,Achham,Seti,Hill,Far-Western,Number of poor,69121,2228.6270
8,Achham,Seti,Hill,Far-Western,Number of poor,69113,654.3328
9,Achham,Seti,Hill,Far-Western,Number of poor,69112,3499.1910

In [6]:
df['Measure Names'].unique()

array(['Number of poor', 'Severity of poverty', 'Poverty gap',
       'Percent of poor', 'Average per capita consumption (NR)'], dtype=object)

### Create a dataframe with only number of poor

In [7]:
poor_df = df[df['Measure Names'] == 'Number of poor']

In [8]:
poor_df['Measure Names'].unique()

array(['Number of poor'], dtype=object)

### Remove duplicates

In [9]:
poor_df = poor_df.drop_duplicates('District Name')

In [10]:
central_df = poor_df[poor_df['Development Region'] == 'Central']
far_western_df = poor_df[poor_df['Development Region'] == 'Far-Western']
western_df = poor_df[poor_df['Development Region'] == 'Western']
mid_western_df = poor_df[poor_df['Development Region'] == 'Mid-Western']
eastern_df = poor_df[poor_df['Development Region'] == 'Eastern']

In [11]:
eastern_df

,District Name,Zone,Geographical Region,Development Region,Measure Names,Unit,Measure Values
1555,Bhojpur,Kosi,Hill,Eastern,Number of poor,10132,2517.4116
2520,Dhankuta,Kosi,Hill,Eastern,Number of poor,7121,2719.8811
3755,Ilam,Mechi,Hill,Eastern,Number of poor,3121,2087.2125
4015,Jhapa,Mechi,Terai,Eastern,Number of poor,4201,12790.6688
5505,Khotang,Sagarmatha,Hill,Eastern,Number of poor,13132,2195.4003
6390,Morang,Kosi,Terai,Eastern,Number of poor,5181,35124.3596
7345,Okhaldhunga,Sagarmatha,Hill,Eastern,Number of poor,12112,1001.9920
7650,Panchthar,Mechi,Hill,Eastern,Number of poor,2113,497.3245
9540,Sankhuwasabha,Kosi,Mountain,Eastern,Number of poor,9111,2506.4536
9595,Saptari,Sagarmatha,Terai,Eastern,Number of poor,15181,7986.9958
10380,Siraha,Sagarmatha,Terai,Eastern,Number of poor,16191,11972.0821
10620,Solukhumbu,Sagarmatha,Mountain,Eastern,Number of poor,11091,1167.6740
10665,Sunsari,Kosi,Terai,Eastern,Number of poor,6181,4888.2240
11420,Taplejung,Mechi,Mountain,Eastern,Number of poor,1111,5498.0352
11475,Terhathum,Kosi,Hill,Eastern,Number of poor,8112,662.0475
11585,Udayapur,Sagarmatha,Hill,Eastern,Number of poor,14121,11412.3838

In [74]:

plt.figure(figsize = (28,5))
sns.set_context('poster',font_scale=1,rc={"lines.linewidth": 2.5})
sns_plot = sns.barplot(x='District Name',y='Measure values',data=central_df)
plt.title('Number of poor in Central Development Region', fontsize=30)
plt.xlabel('Districts',fontsize=20)
plt.ylabel('Measure Value',fontsize=20)
plt.tight_layout()

ValueError: Could not interpret input 'Measure values'

In [13]:
fig =sns_plot.get_figure()
fig.savefig('Charts/Number of poor people in CDR.png',dpi=500)