# DISTRICT WISE POVERTY INDICATORS, 2011

In [14]:
import pandas as pd

In [7]:
df = pd.read_csv ('Datasets/District wise Poverty Indicators, 2011.csv')

In [9]:
df.head()

,District Name,Zone,Geographical Region,Development Region,Measure Names,Unit,Measure Values
0,Achham,Seti,Hill,Far-Western,Number of poor,69134,932.6534
1,Achham,Seti,Hill,Far-Western,Number of poor,69133,5247.3263
2,Achham,Seti,Hill,Far-Western,Number of poor,69132,1408.1394
3,Achham,Seti,Hill,Far-Western,Number of poor,69131,2903.2647
4,Achham,Seti,Hill,Far-Western,Number of poor,69124,7611.8766

In [10]:
df.describe()

               Unit  Measure Values
count  11720.000000    11720.000000
mean   36016.073805     6843.570805
std    20476.718578    13185.591709
min     1011.000000        0.000000
25%    18149.000000        0.041300
50%    35062.500000       25.320000
75%    51091.250000     3356.895125
max    75111.000000   105825.863300