# DISTRICT WISE POVERTY INDICATORS, 2011

In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
df = pd.read_csv ('Datasets/District wise Poverty Indicators, 2011.csv')

In [21]:
df.head()

,District Name,Zone,Geographical Region,Development Region,Measure Names,Unit,Measure Values
0,Achham,Seti,Hill,Far-Western,Number of poor,69134,932.6534
1,Achham,Seti,Hill,Far-Western,Number of poor,69133,5247.3263
2,Achham,Seti,Hill,Far-Western,Number of poor,69132,1408.1394
3,Achham,Seti,Hill,Far-Western,Number of poor,69131,2903.2647
4,Achham,Seti,Hill,Far-Western,Number of poor,69124,7611.8766

In [48]:
df['Measure Names'].unique()

array(['Number of poor', 'Severity of poverty', 'Poverty gap',
       'Percent of poor', 'Average per capita consumption (NR)'], dtype=object)

## CREATE A DATAFRAME WITH ONLY NUMBER OF POOR

In [81]:
poor_df = df[df['Measure Names'] == 'Number of poor']